
@{
    ViewBag.Title = "V_ReportIQA";
    Layout = "~/Views/Shared/_LayoutQW.cshtml";
}

<link href="~/Scripts/plugins/DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/DataTables/datatables.min.js"></script>
<script>
    var jsonString = convertViewBagJsonData("@ViewBag.jsonData");
    var jsonData = eval('(' + jsonString + ')');


    $(document).ready(function () {
        $("#tbody_listData").empty();

        $.each(jsonData.Data.mainDataDriver, function (key, value) {

            var str = "";
            str += " <tr>"
                + "     <td> " + parseInt(key + 1) + "</td>"
                + "     <td>" + value.poNo + "</td>"
                + "     <td>" + value.codeNo + "</td>"
                + "     <td>" + value.dateCreate + "</td>"
                + "     <td>" + value.driverCount + "</td>"
                + "     <td>" + value.driverOK + "</td>"
                + "     <td>" + value.driverNG + "</td>"
                + "     <td>"
                + "        <button type='button' class='btn btn-success btn-xs' onClick='openDataDetails(" + value.id + ", \"" + value.poNo + "\", \"" + value.codeNo + "\") ;' style='cursor: pointer'><i class='fa ion-edit-o'></i> Detail</button>"
                + "        <button type='button' class='btn btn-success btn-xs' data-toggle='modal' data-target='#exampleModalCenter' onClick='openDataDetailsExcel(" + value.id + ", \"" + value.poNo + "\", \"" + value.codeNo + "\") ;' style='cursor: pointer'><i class='fa fa-file-excel-o'></i>Excel</button>"
                + "        <button type='button' class='btn btn-default btn-xs'><i class='fa fa-file-pdf-o'></i>Report</button>"
                + "     </td>"
                + "  </tr>";
            $("#tbody_listData").append(str);

        });

        $('#bootstrap-data-table').DataTable({
            "lengthChange": false,
            "ordering": false,
            "info": false
        });


    });


    function openDataDetailsExcel(id, poNo, codeNo) {

        var str = id + " <div> PO No.:" + poNo + "</div><div> CODE No. :" + codeNo;
        $("#div_modal_body").empty();
        $("#div_modal_body").append(str); 

        $("#div_image_loading").show(); 

        var url = "getReportExcelDetailIQA";
        $.ajax({
            data: { mainDriverId: id, poNo: poNo, codeNo: codeNo },
            type: "POST", url: url,
            success: function (results) {
                console.log(results);
                $("#div_image_loading").hide();     

                $("#div_modal_body").append("<div>ระบบได้ทำการสร้างไฟล์ เรียบร้อยแล้ว</div>");
                window.location = results.urlReturn; 
                return false; 
            },
            complete: function (xhr, textStatus) {
                if (xhr.status != "200") {
                    alert("ระบบไม่สามารถงานได้ กรุณาติดต่อผู้ดูแลระบบ");
                    return false;
                }
            }
        });
      
        //window.location = "V_ReportExcelDetailIQA?mainDriverId=" + id + "&codeNo=" + codeNo + "&poNo=" + poNo;
    }

    function openDataDetails(id , poNo , codeNo) {
        window.location = "V_ReportDetailIQA?mainDriverId=" + id + "&codeNo=" + codeNo + "&poNo=" + poNo;
    }


</script>


<style>
    .btn-xs {
        padding: 1px 5px !important;
        font-size: 14px !important;
        line-height: 1.5 !important;
        border-radius: 3px !important;
    }
</style>
<div class="content mt-5">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>สรุปผลคุณภาพของชิ้นงานตาม CODE NO(IQA Driver)</h2>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered" style="font-size:12px;">
                            <thead>
                                <tr>
                                    <th style="width:5%;">#</th>
                                    <th style="width:12%;">PO No.</th>
                                    <th style="width:12%;">CODE No.</th>
                                    <th style="width:15%;">วันที่-เวลา</th>
                                    <th style="width:12%;">ไดร์เวอร์ ทั้งหมด</th>
                                    <th style="width:12%;">ไดร์เวอร์ ดี</th>
                                    <th style="width:12%;">ไดร์เวอร์ เสีย</th>
                                    <th style="width:30%;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_listData"></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- .animated -->
</div>


<script src="~/Template/SufeeAdmin/js/lib/data-table/datatables.min.js"></script>
<script src="~/Template/SufeeAdmin/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="~/Template/SufeeAdmin/js/lib/data-table/dataTables.buttons.min.js"></script>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> กำลังสร้างไฟล์ Excel กรุณารอสักครู่ </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="div_modal_body">

                </div>
                <div id="div_image_loading">
                    <img src="~/Images/loading-icon-animated-gif-8.gif" id="img_loading_data" />
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
