
@{
    ViewBag.Title = "V_StatShow";
    Layout = "~/Views/Shared/_LayoutQW.cshtml";

}


<div class="row clearfix">
    <div class="col-md-6 col-lg-6">
        <img src="~/Images/Stat/1558332443805.jpg" />
    </div>
    <div class="col-md-6 col-lg-6">
        <img src="~/Images/Stat/1558332480460.jpg" />
    </div>


</div>
<div class="row clearfix">&nbsp;</div>

<div class="row clearfix">
    <div class="col-md-6 col-lg-6">

        <img src="~/Images/Stat/1558332503942.jpg" />
    </div>
    <div class="col-md-6 col-lg-6">

        <img src="~/Images/Stat/1558332524056.jpg" />
    </div>


</div>


