
@{
    ViewBag.Title = "V_E14";
    Layout = "~/Views/Shared/_LayoutPD3.cshtml";
}

<h2>Model E-14</h2>
<script>
    $(document).ready(function () {
        getDataLedTypeCheckbox("3");
        getDataDashboard("3");
        setSpanText("E-14");
    });
</script>

@Html.Partial("V_Dashboard_Main")