
@{
    ViewBag.Title = "V_E27";
    Layout = "~/Views/Shared/_LayoutPD3.cshtml";
}

<h2>Model E27</h2>
<script>
    $(document).ready(function () {
        setSpanText("E-27"); 
        getDataLedTypeCheckbox("4");      
        getDataDashboard("4"); 

    });
</script>

@Html.Partial("V_Dashboard_Main")
