
@{
    ViewBag.Title = "V_GU10";
    Layout = "~/Views/Shared/_LayoutPD3.cshtml";
}

<h2>Model GU-10</h2>
<script>
    $(document).ready(function () {
        getDataLedTypeCheckbox("2");
        getDataDashboard("2");
        setSpanText("GU-10");
    });
</script>

@Html.Partial("V_Dashboard_Main")