
<!DOCTYPE html>
<html>
<head>
       <meta charset="utf-8" />
     <!--<title> -->
    @{
    ViewBag.Title = "V_Main";
    Layout = "~/Views/Shared/_LayoutPD3.cshtml";
    }
       
        <!--  <h2>V_Main</h2>
        HELLO PD3 -->

   <!--  </title>-->
   <!-- <style media="screen">

    <!-- </style>-->
   



</head>
<body>
    <!-- /# column -->
    <div class="col-lg-12">
        <div class="card-header">

            <h2>Model MR-16</h2>
            <input type="checkbox" class="switch-input" checked=""><strong class="card-title"> 6 watt</strong>&nbsp;
            <!--<input type="checkbox" class="switch-input" checked=""><strong class="card-title"> 18 watt</strong>&nbsp;-->
           <!-- <p>สร้าง Datepickerและปุ่มค้นหา-->
                  <div class="row clearfix">
                    <div class="col-sm-9">
                        <div class="form-group col-sm-4">
                            <!--
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar" id="div_data_dashboard_start" style="cursor:pointer;"></i></div>
                                <input class="form-control" placeholder="01-01-2018" id="txt_date_dashboard_start">
                            </div>
                                -->
                            <div class="input-group date form_date col-lg-12" data-date="" data-date-format="dd-mm-yyyy" data-link-field="txt_date_dashboard_start" data-link-format="yyyy-mm-dd">
                                <input class="form-control" size="16" type="text" value="" id="txt_date_dashboard_start_display">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            </div>
                            <input type="text" id="txt_date_dashboard_start" value="" realonly hidden /><br />

                        </div>

                        <div class="form-group col-sm-4">
                            <!--
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input class="form-control" placeholder="01-07-2018" id="txt_date_dashboard_end">
                            </div>
                            -->
                            <div class="input-group date form_date col-lg-12" data-date="" data-date-format="dd-mm-yyyy" data-link-field="txt_date_dashboard_end" data-link-format="yyyy-mm-dd">
                                <input class="form-control" size="16" type="text" value="" id="txt_date_dashboard_end_display">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            </div>
                            <input type="text" id="txt_date_dashboard_end" value="" realonly hidden /><br />
                        </div>
                        <div class="form-group col-sm-2">
                            <select name="selectLg" id="selectLg" class="form-control form-control">
                                <option value="1">Quarter 1</option>
                                <option value="2">Quarter 2</option>
                                <option value="3">Quarter 3</option>
                                <option value="4">Quarter 4</option>
                            </select>

                        </div>
                        <div class="form-group col-sm-2">
                            <select name="selectLg" id="selectLg" class="form-control form-control">
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                 <!-- 4-->
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" onclick="searchDashboard(); ">
                            <i class="fa fa-search fa-lg"></i>&nbsp;
                            <span id="payment-button-amount">SEARCH</span>
                        </button>
                    </div>
                </div>
        </div>
        <script src="/Scripts/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

        <script>
            function searchDashboard() {
                //alert("searchDashboard =====> " + $("#txt_date_dashboard_start").val() + " - " + $("#txt_date_dashboard_end").val());

                var url = "/DivisionPD3/getDashboardDataByCriteria";
                $.ajax({
                    data: { txt_date_dashboard_start: $("#txt_date_dashboard_start").val(), txt_date_dashboard_end: $("#txt_date_dashboard_end").val() },
                    type: "POST", url: url,
                    success: function (results) {
                        console.log(results);

                    },
                    complete: function (xhr, textStatus) {
                        //console.log(xhr.status);
                        if (xhr.status != "200") {
                            alert("ระบบไม่สามารถงานได้ กรุณาติดต่อผู้ดูแลระบบ");
                            return false;
                        }
                    }
                });
            }

            $('.form_date').datetimepicker({
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });

        </script>


       
       <!--  </p>จบชุด Datepickerและปุ่มค้นหา -->
   
        
               
                
               
                <!--Code Menutap-->

                <!-- ด้านล่างคือ code Tap MR16 -->
                <div class="tab-content pl-3 p-1" id="myTabContent">
                    <div class="tab-pane fade show active" id="MR16" aria-labelledby="MR16-tab">
                        
                        <div class="col-sm-6 col-lg-3">
                            <div class="card text-white bg-flat-color-1">
                                <div class="card-body pb-0">

                                    <h4 class="mb-0">
                                        <span id="span_led_t8_total" class="count_all"></span> หลอด
                                        <!-- <span class="count" id="span_led_t8_total">0</span>-->
                                    </h4>
                                    <p class="text-light">MR16 TOTAL</p>
                                    <div class="chart-wrapper px-0" style="height:70px;" height="70">
                                        <canvas id="widgetChart1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card text-white bg-flat-color-5">
                                <div class="card-body pb-0">

                                    <h4 class="mb-0">
                                        <span id="span_led_t8_ok" class="count_all">0</span> หลอด
                                    </h4>
                                    <p class="text-light">หลอด MR16 OK </p>
                                    <div class="chart-wrapper px-0" style="height:70px;" height="70">
                                        <canvas id="widgetChart2"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card text-white bg-flat-color-4">
                                <div class="card-body pb-0">

                                    <h4 class="mb-0">
                                        <span id="span_led_t8_ng" class="count_all">0</span> หลอด
                                    </h4>
                                    <p class="text-light">หลอด MR16 NG</p>
                                </div>
                                <div class="chart-wrapper px-0" style="height:70px;" height="70">
                                    <canvas id="widgetChart3"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card text-white bg-flat-color-3">
                                <div class="card-body pb-0">

                                    <h4 class="mb-0">
                                        <span id="span_workstation_total" class="count_all">0</span> WorkStation
                                    </h4>
                                    <p class="text-light">TOTAL WORKSTAION</p>
                                </div>
                                <div class="chart-wrapper px-0" style="height:70px;" height="70">
                                    <canvas id="widgetChart4"></canvas>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="content mt-3">
                        <div class="animated fadeIn">
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="mb-3">Bar chart MR16</h4>
                                            <canvas id="barChartMR16" style="width:100% !important;"></canvas>
                                        </div>
                                    </div>
                                </div><!-- /# column -->
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-body">

                                            <h4 class="mb-3">TOTAL MR16 NG (V , I , W , PF)</h4>
                                            <canvas id="viwpf-chart"></canvas>
                                        </div>
                                    </div>
                                </div><!-- /# column -->
                            </div>
                        </div><!-- .animated -->
                    </div><!-- .content -->
                    <!-- </div>-->
                    <script src="/Template/SufeeAdmin/js/lib/chart-js/Chart.bundle.js"></script>
                    <script src="/Template/SufeeAdmin/js/widgets.js"></script>

                    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
                    <script src="assets/js/popper.min.js"></script>
                    <script src="assets/js/plugins.js"></script>
                    <script src="assets/js/main.js"></script>
                   
                </div>
        <script>
                (function ($) {
                   
                    //bar chart
                    var ctx = document.getElementById("barChartMR16");
                    //    ctx.height = 200;
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ["January", "February", "March", "April", "May", "June", "July"],
                            datasets: [
                                {
                                    label: "My First dataset",
                                    data: [65, 59, 80, 81, 56, 55, 40],
                                    borderColor: "rgba(0, 123, 255, 0.9)",
                                    borderWidth: "0",
                                    backgroundColor: "rgba(0, 123, 255, 0.5)"
                                },
                                {
                                    label: "My Second dataset",
                                    data: [28, 48, 40, 19, 86, 27, 90],
                                    borderColor: "rgba(0,0,0,0.09)",
                                    borderWidth: "0",
                                    backgroundColor: "rgba(0,0,0,0.07)"
                                }
                            ]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                    var ctx = document.getElementById("viwpf-chart");
                    ctx.height = 150;
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: ["January", "February", "March", "April", "May", "June", "July"],
                            datasets: [{
                                data: [86, 114, 106, 106, 107, 111, 133],
                                label: "V",
                                borderColor: "#3e95cd",
                                fill: false
                            }, {
                                data: [100, 350, 411, 502, 635, 720, 457],
                                label: "I",
                                borderColor: "#8e5ea2",
                                fill: false
                            }, {
                                data: [168, 357, 178, 572, 203, 276, 408],
                                label: "W",
                                borderColor: "#3cba9f",
                                fill: false
                            }, {
                                data: [40, 20, 10, 16, 24, 38, 74],
                                label: "PF",
                                borderColor: "#e8c3b9",
                                fill: false
                            }
                            ]
                        },
                        options: {
                            responsive: true,
                            hoverMode: 'index',
                            stacked: false
                        }
                    });

                })(jQuery);




        </script>
    
      
    </div>

</body>

</html>



