
@{
    ViewBag.Title = "V_E27";
    Layout = "~/Views/Shared/_LayoutPD3.cshtml";
}
<h2>Model MR16</h2>

<script>
    $(document).ready(function () {
        getDataLedTypeCheckbox("1");        
        getDataDashboard("1"); 
        setSpanText("MR-16");
    });
</script>

@Html.Partial("V_Dashboard_Main")

