
@{
    ViewBag.Title = "V_PAR30";
    Layout = "~/Views/Shared/_LayoutPD3.cshtml";
}


<h2>Model PAR-30</h2>
<script>
    $(document).ready(function () {
        getDataLedTypeCheckbox("6");
        getDataDashboard("6");
        setSpanText("PAR-30");
    });
</script>

@Html.Partial("V_Dashboard_Main")