
@{
    ViewBag.Title = "V_PAR20";
    Layout = "~/Views/Shared/_LayoutPD3.cshtml";
}

<h2>Model PAR-20</h2>
<script>
    $(document).ready(function () {
        getDataLedTypeCheckbox("5");
        getDataDashboard("5");
        setSpanText("PAR-20");
    });
</script>

@Html.Partial("V_Dashboard_Main")

