@{
    Layout = null;
    ViewBag.Title = "HOME";
}

<link href="~/Content/Mobirise/style.css" rel="stylesheet" />

<style>
    #msg-box8-1f.mbr-section {
        background: linear-gradient(to right, #80deea, #ba68c8) !important;
    }

    .imageBoxSection {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #jarallax-container-0 {
        clip: rect(0 1903px 450px 0);
        clip: rect(0, 1903px, 450px, 0);
    }

    .card-img {
        cursor: pointer;
    }

    .card-img:hover {
        opacity: 0.5;
    }
    .shadow {
        box-shadow: 5px 5px 30px 5px #888888;
    }
</style>

<script>
    function gotoDivision(path) {
        if (path=="") {
            alert("COMING SOON."); 
            return false; 
        }
        window.location = path; 
    }
</script>



<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow" id="header1-15" style="background-image: url(../../Images/d5salkdogb4-stefan-widua-1-800x600.jpg);">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(239, 239, 239);"></div>

    <div class="mbr-table-cell">

        <div class="container shadow" style="width:70%;text-align:center;margin: auto;padding:10px 10px 10px 10px ;">
            <div class="row">
                
                <h1 class="mbr-section-title display-3" style="color:navy !important;">MANUFACTURING MONITORING SYSTEM</h1>


                <section class="mbr-cards mbr-section mbr-section-nopadding" id="features1-1j" style="background-color: rgb(239, 239, 239);">

                    <div class="mbr-cards-row row striped">

                        <div class="imageBoxSection mbr-cards-col col-xs-12 col-lg-4">
                            <div class="container">
                                <div class="card cart-block">
                                    <div class="card-img shadow"><img src="~/Images/DSC_2747.jpg" class="card-img-top" onclick="gotoDivision('');"></div>
                                    <div class="card-block">
                                        <h4 class="card-title">SMT</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="imageBoxSection mbr-cards-col col-xs-12 col-lg-4">
                            <div class="container">
                                <div class="card cart-block">
                                    <div class="card-img shadow"><img src="~/Images/IQA_ICON.jpg" class="card-img-top" onclick="gotoDivision('/DivisionQW/Index');"></div><!--QW-->
                                    <div class="card-block">
                                        <h4 class="card-title">QW</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="imageBoxSection mbr-cards-col col-xs-12 col-lg-4">
                            <div class="container">
                                <div class="card cart-block">
                                    <div class="card-img shadow"><img src="~/Images/FAC_ICON.jpg" class="card-img-top" onclick="gotoDivision('');" style="height:200px;"></div><!-- FACILITY -->
                                    <div class="card-block">
                                        <h4 class="card-title">FACILITY</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <section class="mbr-cards mbr-section mbr-section-nopadding" id="features1-1j" style="background-color: rgb(239, 239, 239);">

                    <div class="mbr-cards-row row striped">

                        <div class="imageBoxSection mbr-cards-col col-xs-12 col-lg-4">
                            <div class="container">
                                <div class="card cart-block">
                                    <div class="card-img shadow">
                                        <img src="~/Images/PD1_ICON.jpg" class="card-img-top" onclick="gotoDivision('');"> <!--Production 1-->
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Production 1</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="imageBoxSection mbr-cards-col col-xs-12 col-lg-4">
                            <div class="container">
                                <div class="card cart-block">
                                    <div class="card-img shadow"><img src="~/Images/PD2_ICON.jpg" class="card-img-top" onclick="gotoDivision('/DivisionPD2/V_Main');"></div>
                                    <div class="card-block">
                                        <h4 class="card-title">Production 2</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="imageBoxSection mbr-cards-col col-xs-12 col-lg-4">
                            <div class="container">
                                <div class="card cart-block">
                                    <div class="card-img shadow"><img src="~/Images/PD3_ICON.jpg" class="card-img-top" onclick="gotoDivision('/DivisionPD3/V_Main');"></div><!--Production 3-->
                                    <div class="card-block">
                                        <h4 class="card-title">Production 3</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>



            </div>
        </div>
    </div>


</section>

